body {
	padding-top:30px !important;
}

#admin-nav {
	background:#88C1D4;
	color:#fff;
	border-bottom:1px solid #70B4CB;
	box-shadow:0 -2px 5px #000;
	position:fixed;
	top:0;
	left:0;
	height:30px;
	line-height:30px;
	width:100%;
	font-family:Arial;
	font-size:14px;
}
	#admin-nav .inner {
		padding:0 10px;
	}
	
	#admin-nav a {
		height:30px;
		display:block;
		color:#fff;
		padding:0 10px;
		display:inline-block;
		text-decoration:none;
		border:none;
		cursor:pointer;
		background:transparent;
	}
	#admin-nav a:hover {
		background:#57A8C2;
	}
#admin-nav .snap-pull-right {
	float:right;
}
#admin-nav .snap-processing {
	color:#C09853;
}
#admin-nav .snap-success {
	color:#468847;
}
#admin-nav .snap-disabled {
	color:#ddd;
}
#admin-nav .snap-disabled:hover {
	background:transparent;
}
.cke_editable {
	min-height:1em;
}
.cke_editable_inline:hover {
	outline:1px dashed #ccc;
}
.cke_focus {
	outline:1px dashed #428BCA !important;
}