#logo {
	float:left;
	margin:10px 10px 10px 0;
}

.footer {
	padding:2em 0;
	margin-top:2em;
	border-top:1px solid #ddd;
	text-align:center;
}

.page-header,
.page-header h1 {
	margin-top:0;
}

/* CGridView */
.filters input {width:100%}
.button-column {
	white-space:nowrap;
}
	.button-column .btn {
		margin:0 2px 0 0;
	}
.panel .pagination {
	margin:10px auto;
	display:table;
}
.panel .pagination-wrapper {
	border-top:1px solid #ddd;
}

/* CMenu */
.nav-stacked li {
	border-bottom:1px solid #ddd;
}
.nav-stacked li:last-child{
	border-bottom:none;
}
.nav-stacked > li + li {
	margin-top:0;
}
	.nav-stacked .active a {
		background-color: #F5F5F5;
		z-index: 2;
	}
	
.nav > li a:hover, .nav li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
}
.nav-stacked li {
	border:none;
}
	.sortable .ui-state-highlight,
	.nav-stacked li a {
		display: block;
		padding: 10px 20px;
		position: relative;
		border-bottom:1px solid #ddd;
	}
		.nav-stacked li li a {
			padding-left:40px;
		}
			.nav-stacked li li li a {
				padding-left:60px;
			}
				.nav-stacked li li li li a {
					padding-left:80px;
				}
					.nav-stacked li li li li li a {
						padding-left:100px;
					}
						.nav-stacked li li li li li li a {
							padding-left:120px;
						}
	.nav-stacked ul {
		list-style: none outside none;
		margin-bottom: 0;
		padding:0;
	}
	.sortable .ui-state-highlight {
		display:block;
		padding:0;
	}
	.sortable .ui-sortable-helper {
		opacity:.75;
	}
.sortable .empty {
	min-height:5px;
}
	.sortable li {
		background:#fff;
	}
	

.admin-nav li {
	border-top:1px solid #ddd;
}
	.admin-nav li a {
		display:inline-block;
		border:none;
	}
	.admin-nav li a:hover,
	.admin-nav li a:active {
		background:none;
	}
	.admin-nav .actions {
		float:right;
		padding:10px 20px;
		clear:right;
	}
		.admin-nav .actions .btn {
			padding:1px 5px;
			border:none;
			margin:0 0 0 5px;
		}
.admin-nav li .actions a:hover, 
.admin-nav li .actions a:focus {
	background:#aaa;
}
	
/* CPortlet */
.portlet-content .table {
	margin-bottom:0;
}

/* CListView */
.list-view .control-label {
	font-weight:bold;
}
.list-view .summary {
	border-bottom:1px solid #eee;
	padding-bottom:15px;
	margin-bottom:15px;
	text-align:right;
}
.list-view .media {
	border-bottom:1px solid #eee;
	padding-bottom:15px;
}

/* Other */
.nav-tabs {
	margin-bottom:15px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#cke_72_uiElement .cke_dialog_ui_button {
	margin-top:15px !important;
}