/*h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
}*/
/* line 6, snapcms/sass/sections/_content.scss */
.media {
  border-top: 1px solid #ddd;
}

/* line 9, snapcms/sass/sections/_content.scss */
.media:first-child {
  border: none;
}
/* line 11, snapcms/sass/sections/_content.scss */
.media:first-child h3 {
  margin-top: 0;
}
