/* 
    Document   : default
    Created on : 01-Mar-2014, 17:57:14
    Author     : Francis Berseford
*/


.container {
    position:relative;
}
    #main-alerts {
        top:15px;
        padding:0 80px 0 50px;
        width:100%;
        position:absolute;
    }
        #main-alerts .alert {
            box-shadow:3px 3px 3px rgba(0,0,0,.2);
            margin-bottom: 15px;
            text-align:center;
        }

.page-header,
.page-header h1, 
.page-header h2 {
    margin-top:0;
    font-size: 30px;
}    
    .current-user {
        margin-top:20px;
    }
.panel > .panel-heading {
    display:block;
}
.boxocart {
    width:400px;
    padding:10px;
}
    
.alert h3 {
    margin-top:0;
}

.nav-pills ul {
    padding:0;
}
    .nav-pills li {
        list-style-type:none;
    }
        ul.nav-pills a {
            display: block;
            padding: 5px 10px;
            position: relative;
            border-radius: 4px;
            margin-bottom: 5px;
        }
        .nav-pills li.active > a, 
        .nav-pills li.active > a:hover, 
        .nav-pills li.active > a:focus {
            background-color: #428BCA;
            color: #FFFFFF;
        }
        .nav-pills > li a:hover, 
        .nav-pills > li a:focus {
            background-color: #eee;
            text-decoration: none;
        }
        ul.nav-pills ul {
            border-left: 1px solid #eee;
            padding-left:5px;
            margin-left:10px;
        }
        
.nav li.unpublished a {
    color:#aaa;
    font-style:italic;
}
        
#content img {
    max-width:100%;
    margin-bottom:1em;
    border:1px solid #ddd;
    padding:5px;
}
.img.pull-left {
    margin:5px 20px 20px 0;
}

.media {
    border-bottom:1px solid #eee;
}
    .media-body {
        overflow:visible;
        padding-left:130px;
    }
    .media-left {
        float:left;
        margin-right:10px;
    }
.summary {
    text-align:right;
    font-size:11px;
    margin-top:5px;
}

/* Forms */

.form-inline .help-block {
    margin-bottom:5px;
}
.form-inline .form-group {
    min-height:64px;
}
.no-label {
    margin-top:25px;
}

/* Shop page */
.list-view .inner {
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #eee;
    overflow:hidden;
}
.list-view .inner:last-child {
    border-bottom:none;
    margin-bottom:0;
    padding-bottom:0;
}
    .list-view input[type="number"] {
        width:50px;
    }
    .list-view h3 {
        margin-top:0;
        margin-bottom:0;
        font-size:16px;
    }
    .order .inner {
        margin-bottom:10px;
        padding-bottom:10px;
        clear:both;
    }
        .order .available-until {
            margin-bottom:0;
        }
        
    .available-until {
        font-size:10px;
        color:#999;
        margin-bottom:10px;
        display:block;
    }
    

.location-list .box {
    border:1px solid #ddd;
    padding:10px 10px 0;
    margin-bottom:15px;
}
    .location-list .actions {
        float:right;
    }
    
.price-col {
    text-align:right;
}

.description,
.price {
    display:block;
}

/* Checkout */
h1 small a {
    font-size:16px;
    margin-top:16px;
    display:inline-block;
}
#checkout-cart .row.before {
    margin-top:10px;
}
#checkout-cart .panel-heading {
    padding-right:10px;
}
    #checkout-cart h3 {
        display:inline;
    }
        #checkout-cart .glyphicon {
            width:18px;
            display:inline-block;
            height:18px;
            float:right;
            margin-left:5px;
            margin-top:-2px;
        }
        #checkout-cart .glyphicon-ok {
            color:#009900;
        }
    #checkout-cart .selected .panel-heading h3 {
        font-weight:bold;
    }
    #checkout-cart .price {
        display:inline;
    }
    #checkout-cart .total,
    #checkout-cart .quantity {
        display:block;
    }
        #checkout-cart .text-danger h3,
        #checkout-cart .text-danger .item-price, 
        #checkout-cart .text-danger .price,
        #checkout-cart .text-danger .quantity {
            text-decoration: line-through;
            color:#aaa;
        }
.buttons {
    margin-bottom:15px;
}
.current-price {
    margin-left:10px;
}

.nav-pills.with-button > li > a {
    margin-left:35px;
}
.nav-pills.with-button .remove {
    float:right;
    position:absolute;
    top:10px;
    left:0;
    padding:10px;
    margin-left:0;
    background:transparent !important;
    color:#f00 !important;
}


/* Registration Page */
#content .captcha img {
    margin-bottom:15px;
}
.captcha a {
    display:block;
    margin-bottom:10px;
}


.footer {
    padding-top:20px;
    border-top:1px solid #eee;
    margin-top:30px;
    text-align:center;
}